:root {
    --primary-text-color: #757575;
    --title-text-color: #212121; 
    --accent-color: #2196F3;
    --logo-color: #000000;
    --title-color: #FFFFFF;

}

/* ссылки в футере сolor: rgba(255, 255, 255, 0.6); */

.list {
    list-style: none;
}


body {
    color: var(--primary-text-color);
}
/* header */
.logo {
    color: var(--logo-color);

}
.logo:hover,
.logo:focus{
    color: var(--accent-color);
}
.logo-accent {
    color: var(--accent-color);
}

.menu-nav .link{
    color: var(--title-text-color);
}
.menu-nav .link:hover,
.menu-nav .link:focus{
    color: var(--accent-color);
}
 
.contacts .link{
    color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus{
    color: var(--accent-color);
}
.section{

}
.title{
    color: var(--title-color);
    background-color: #000000;
}

.section-title {
    color: var(--title-text-color);
}

.feature-title {
    color: var(--title-text-color);
}
.team-person {
    color: var(--title-text-color);
}
.button {
    color: var(--title-color);
    background-color: var(--accent-color);
    cursor: pointer;
}