:root {
    --primary-text-color: #757575;
    --title-text-color: #212121; 
    --accent-color: #2196F3;
    --logo-color-header: #000000;
    --logo-color-footer: #FFFFFF;
    --title-color: #FFFFFF;
    --primary-background-color: #E5E5E5;
    --accent-backgroud-color: #F5F4FA;
}

/* ссылки в футере сolor: rgba(255, 255, 255, 0.6); */

.list {
    list-style: none;
}


body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}
/* header */
header{
    background-color: #FFFFFF;
}
header .logo {
    color: var(--logo-color);

}
.logo:hover,
.logo:focus{
    color: var(--accent-color);
}
.logo-accent {
    color: var(--accent-color);
}

.menu-nav .link{
    color: var(--title-text-color);
}
.menu-nav .link:hover,
.menu-nav .link:focus{
    color: var(--accent-color);
}
 
.contacts .link{
    color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus{
    color: var(--accent-color);
}

/* main big section */
.big-box{
    background-color: #2F303A;
}
.title{
    color: var(--title-color);
   }
.button {
    color: var(--title-color);
    background-color: var(--accent-color);
    cursor: pointer;
}


/* feature section */


.feature-title {
    color: var(--title-text-color);
}

/* work */
.section-title {
    color: var(--title-text-color);
 }

/* team section */
.team{
background-color: var(--accent-backgroud-color);
}
.team-photo{
    background-color: #FFFFFF;
}
.team-person {
    color: var(--title-text-color);
}

/* footer */
 footer{
     background-color: #2F303A;
 }
 footer .logo{
     color: var(--logo-color-footer);
 }
 .address{
     color: #FFFFFF;
 }
 
 .address-nav .link{
     color: rgba(255, 255, 255, 0.6);
 }
 
.address-nav .link:hover,
.address-nav .link:focus{
    color: var(--accent-color);
 }